:root {
  /* COLOR PALETTE */

  /* Primary */
  --color-primary-300: oklch(57.269% 0.16637 44.061);
  --color-primary-200: oklch(93.515% 0.197 104.636);
  --color-primary-100: oklch(94.102% 0.14633 105.122);

  /* Secondary */
  --color-secondary-200: oklch(0.61 0.244 353);
  --color-secondary-300: oklch(from var(--color-secondary-200) 0.45 0.4 h);

  /* Neutrals */
  --color-neutral-100: oklch(0.99 0.0035 258);
  --color-neutral-200: oklch(0.96 0.007 304);
  --color-neutral-500: oklch(32.738% 0.02662 310.53);
  --color-neutral-600: oklch(0.28 0.02 312);

  --label-green-200: oklch(66.445% 0.19843 136.622);
  --label-orange-200: oklch(69.823% 0.16307 58.812);
  --label-red-200: oklch(62.049% 0.2282 27.077);

  /* Transparencies */
  --color-neutral-600-50: oklch(from var(--color-neutral-600) l c h / 0.5);
  --color-neutral-600-90: oklch(from var(--color-secondary-200) l c h / 0.3);

  /* SEMANTIC COLORS */

  /* Dark surface */
  --color-surface-dark: var(--color-neutral-600);
  --color-surface-dark-text-highlight: var(--color-primary-200);
  --color-surface-dark-text: var(--color-neutral-100);
  --color-surface-dark-border: var(--color-secondary-200);

  /* Light surface */
  --color-surface-light: var(--color-neutral-200);
  --color-surface-light-text-highlight: var(--color-secondary-200);
  --color-surface-light-text: var(--color-neutral-600);

  /* Colored surface */
  --color-surface-colored: var(--color-secondary-200);
  --color-surface-colored-text-highlight: var(--color-primary-200);
  --color-surface-colored-text: var(--color-neutral-100);

  /* CTA Buttons */
  --color-cta: var(--color-secondary-200);
  --color-on-light-cta: var(--color-neutral-100);
  --color-cta-text: var(--color-neutral-100);
  --color-cta-border: var(--color-primary-200);
  --color-cta-on-light-border: var(--color-secondary-200);
  --color-cta-hover: var(--color-primary-200);
  --color-cta-text-hover: var(--color-secondary-200);
  --color-cta-border-hover: var(--color-primary-200);

  /* Navigation */
  --color-nav: var(--color-secondary-200);
  --color-nav-title: var(--color-primary-100);
  --color-nav-text: var(--color-neutral-200);
  --color-nav-border: var(--color-neutral-600);
  --color-nav-hover: var(--color-primary-200);
  --color-nav-text-hover: var(--color-secondary-200);

  /* Icons and illustrations */
  --art-light: var(--color-primary-200);
  --art-dark: var(--color-secondary-200);
  --art-line: var(--color-neutral-600);
  --art-white: var(--color-neutral-100);

  /* UI DESIGN */

  /* SPACING SYSTEM
  Fixed Scale (--sp-**): this is for inside my components, UI density
  Fluid Scale (--sp-fl-**): this is for between components, layout breathing room
  Semantic Aliases: These all point to the above just like my colors, named by role and not size
  */

  /* Spacing */

  /* fixed scales */
  --sp-01: 0.25rem; /* 4px */
  --sp-02: 0.5rem; /* 8px */
  --sp-03: 0.75rem; /* 12px */
  --sp-04: 1rem; /* 16px */
  --sp-05: 1.5rem; /* 24px */
  --sp-06: 2rem; /* 32px */
  --sp-07: 3rem; /* 48px */
  --sp-08: 4rem; /* 64px */
  --sp-09: 6rem; /* 96px */
  --sp-10: 8rem; /* 128px */

  /* fluid scales */
  --sp-fluid-01: clamp(var(--sp-04), 2vw, var(--sp-05));
  --sp-fluid-02: clamp(var(--sp-05), 3vw, var(--sp-06));
  --sp-fluid-03: clamp(var(--sp-06), 4vw, var(--sp-07));
  --sp-fluid-04: clamp(var(--sp-07), 5vw, var(--sp-08));
  --sp-fluid-05: clamp(var(--sp-08), 6vw, var(--sp-09));
  --sp-fluid-06: clamp(var(--sp-09), 7vw, var(--sp-10));

  /* Layout Specific Spacing */
  --max-width: min(100%, 90rem);
  --max-width-narrow: min(100%, 70.875rem);

  --space-section-block: var(--sp-fluid-06);
  --space-section-inline: var(--sp-fluid-03);

  --space-page-block: var(--sp-fluid-04);

  --space-sub-section-block: clamp(2rem, 5vw, 4rem);

  --card-padding-block: var(--sp-fluid-03);
  --card-padding-inline: var(--sp-fluid-02);

  --body-padding-block: var(--sp-fluid-03);
  --body-padding-inline: var(--sp-fluid-02);

  --space-gutter-primary: var(--sp-05);
  --space-gutter-secondary: var(--sp-04);

  --button-block-sm: 0.6em;
  --button-inline-sm: 1.2em;
  --button-block-md: 1.2em;
  --button-inline-md: 2.4em;

  --space-after-body-text: 0.3em;

  /* Border Radius */
  --br-01: 0.25rem; /* 4px */
  --br-02: 0.5rem; /* 8px */
  --br-03: 0.75rem; /* 12px */

  /* Border Width */
  --border-thin: 2px;
  --border-default: 3px;
  --border-thick: 5px;

  /* Semantic Borders */
  --border-photo-dark-thin: var(--border-thin) solid var(--color-neutral-500);
  --border-photo-dark-default: var(--border-default) solid
    var(--color-neutral-500);
  --border-surface-color-thin: var(--border-default) solid
    var(--color-neutral-600);
  --border-surface-dark-thin-highlight: var(--border-thin) solid
    var(--color-primary-200);
  --border-surface-dark-thin: var(--border-thin) solid
    var(--color-secondary-200);
  --border-surface-dark-thinnest: var(--border-thin) solid
    var(--color-secondary-200);
  --border-surface-color-thick: var(--border-thick) solid
    var(--color-neutral-600);
  --border-surface-dark-thick: var(--border-thick) solid
    var(--color-secondary-200);

  --border-cta: var(--border-thin) solid var(--color-cta-border);
  --border-cta-hover: var(--border-thin) solid var(--color-cta-border-hover);

  /* EFFECTS */

  /* card shadows */
  --card-shadow-neutral-shallow: 3px 3px 0 var(--color-neutral-600);
  --card-shadow-neutral-medium: 5px 5px 0 var(--color-neutral-600);
  --card-shadow-neutral-deep: 8px 8px 0 var(--color-neutral-600);

  --card-shadow-color-shallow: 3px 3px 0 var(--color-secondary-200);
  --card-shadow-color-medium: 5px 5px 0 var(--color-secondary-200);
  --card-shadow-color-deep: 8px 8px 0 var(--color-secondary-200);

  /* text shadows */
  --text-shadow-color: 0 0 12px
    oklch(from var(--color-neutral-600) l c h / 0.25);

  /* icon shadows */
  --art-shadow-neutral-shallow: drop-shadow(3px 3px 0 var(--color-neutral-600));
  --art-shadow-neutral-medium: drop-shadow(5px 5px 0 var(--color-neutral-600));
  --art-shadow-neutral-deep: drop-shadow(8px 8px 0 var(--color-neutral-600));

  --art-shadow-color-shallow: drop-shadow(3px 3px 0 var(--color-secondary-200));
  --art-shadow-color-medium: drop-shadow(5px 5px 0 var(--color-secondary-200));
  --art-shadow-color-deep: drop-shadow(8px 8px 0 var(--color-secondary-200));

  /* Usability */
  --keyboard-focus: var(--border-default) solid var(--color-primary-200);

  /* TYPOGRAPHY */

  /* Font families */
  --font-display: "mushdispHeader", "mushdispHeader Fallback", serif;
  --font-body: "Archivo", sans-serif;

  /* Scale  */
  --text-xsm: clamp(0.75rem, calc(2vw + 1rem), 0.8rem);
  --text-sm: clamp(0.875rem, calc(2vw + 1rem), 1rem);
  --text-base: clamp(1rem, 2.5vw, 1.125rem);
  --text-lg: clamp(1.2rem, 2.5vw, 1.25rem);
  --text-xl: clamp(1.3rem, calc(2vw + 1rem), 1.5rem);
  --text-2xl: clamp(2rem, calc(2vw + 1rem), 2rem);
  --text-hero: clamp(2.3rem, calc(2vw + 1rem), 3.2rem);

  /* Line height */
  --leading-tight: 1.1;
  --leading-normal: 1.25;
  --leading-loose: 1.4;

  /* Letter spacing */
  --tracking-tight: -0.03em;
  --tracking-semiwide: 0.02em;
  --tracking-wide: 0.05em;

  /* Font Body Variations */
  --fvs-tight-heavy: "wdth" 90, "wght" 950;
  --fvs-tight-bold: "wdth" 90, "wght" 800;
  --fvs-regular-regular: "wdth" 100, "wght" 600;
  /* --fvs-condensed-bold: "wdth" 87, "wght" 900; */

  /* Measure — max line width */
  --measure: 65ch; /* body text */
  --measure-narrow: 27ch; /* captions */
}
