:root {
  /* COLOR PALETTE */

  /* Primary */
  --color-primary-200: oklch(0.9433 0.2001 105.99);

  /* Secondary */
  --color-secondary-200: oklch(0.6105 0.2438 352.5);

  /* Neutrals */
  --color-neutral-100: oklch(0.9814 0.0045 258.32);
  --color-neutral-200: oklch(0.9641 0.0069 304.24);
  --color-neutral-600: oklch(0.2794 0.0199 311.83);

  /* Transparencies */
  --color-neutral-600-50: oklch(from var(--color-neutral-600) l c h / 0.5);

  /* SEMANTIC COLORS */

  /* Dark surface */
  --color-surface-dark: var(--color-neutral-600);
  --color-surface-dark-text-highlight: var(--color-primary-200);
  --color-surface-dark-text: var(--color-neutral-100);
  --color-surface-dark-border: var(--color-secondary-200);

  /* Light surface */
  --color-surface-light: var(--color-neutral-200);
  --color-surface-light-text-highlight: var(--color-primary-200);
  --color-surface-light-text: var(--color-neutral-600);

  /* Colored surface */
  --color-surface-colored: var(--color-secondary-200);
  --color-surface-colored-text-highlight: var(--color-primary-200);
  --color-surface-colored-text: var(--color-neutral-100);

  /* CTA Buttons */
  --color-cta: var(--color-secondary-200);
  --color-cta-text: var(--color-primary-200);
  --color-cta-border: var(--color-primary-200);

  /* Navigation */
  --color-nav: var(--color-secondary-200);
  --color-nav-title: var(--color-primary-100);
  --color-nav-text: var(--color-primary-200);
  --color-nav-border: var(--color-neutral-600);
  --color-nav-hover: var(--color-neutral-200);
  --color-nav-text-hover: var(--color-neutral-600);

  /* Icons and illustrations */
  --art-light: var(--color-primary-200);
  --art-dark: var(--color-secondary-200);
  --art-line: var(--color-neutral-600);
  --art-white: var(--color-neutral-100);

  /* UI DESIGN */ /* Spacing */
  --sp-01: 0.25rem; /* 4px */
  --sp-02: 0.5rem; /* 8px */
  --sp-03: 0.75rem; /* 12px */
  --sp-04: 1rem; /* 16px */
  --sp-05-5: 1.25rem;
  --sp-05: 1.5rem; /* 24px */
  --sp-06: 2rem; /* 32px */
  --sp-07: 3rem; /* 48px */
  --sp-08: 4rem; /* 64px */

  /* Layout Specific Spacing */
  --max-width: min(100%, 90rem);
  --space-section-block: clamp(3rem, 8vw, 8rem);
  --space-section-inline: clamp(1.25rem, 5vw, 2rem);

  /* Border Radius */
  --br-01: 0.25rem; /* 4px */
  --br-02: 0.5rem; /* 8px */
  --br-03: 0.75rem; /* 12px */

  /* Border Width */
  --border-thin: 1.5px;
  --border-default: 3px;
  --border-thick: 5px;

  /* EFFECTS */

  /* card shadows */
  --card-shadow-neutral-shallow: 3px 3px 0 var(--color-neutral-600);
  --card-shadow-neutral-medium: 5px 5px 0 var(--color-neutral-600);
  --card-shadow-neutral-deep: 8px 8px 0 var(--color-neutral-600);

  --card-shadow-color-shallow: 3px 3px 0 var(--color-secondary-200);
  --card-shadow-color-medium: 5px 5px 0 var(--color-secondary-200);
  --card-shadow-color-deep: 8px 8px 0 var(--color-secondary-200);

  /* text shadows */
  --text-shadow-color: 0 0 12px
    oklch(from var(--color-neutral-600) l c h / 0.25);

  /* icon shadows */
  --art-shadow-neutral-shallow: drop-shadow(3px 3px 0 var(--color-neutral-600));
  --art-shadow-neutral-medium: drop-shadow(5px 5px 0 var(--color-neutral-600));
  --art-shadow-neutral-deep: drop-shadow(8px 8px 0 var(--color-neutral-600));

  --art-shadow-color-shallow: drop-shadow(3px 3px 0 var(--color-secondary-200));
  --art-shadow-color-medium: drop-shadow(5px 5px 0 var(--color-secondary-200));
  --art-shadow-color-deep: drop-shadow(8px 8px 0 var(--color-secondary-200));

  /* Borders */
  --border-surface-color-thin: 3px solid var(--color-neutral-600);
  --border-surface-dark-thin: 2px solid var(--color-secondary-200);
  --border-cta: 2px solid var(--color-cta-border);

  /* TYPOGRAPHY */

  /* Font families */
  --font-display: "MushDispHeader", serif;
  --font-body: "Archivo", sans-serif;

  /* Scale  */
  --text-xsm: clamp(0.75rem, calc(2vw + 1rem), 0.8rem);
  --text-sm: clamp(0.875rem, calc(2vw + 1rem), 1rem);
  --text-base: clamp(1rem, 2.5vw, 1.125rem);
  --text-lg: clamp(1.2rem, 2.5vw, 1.25rem);
  --text-xl: clamp(1rem, 3vw, 1.5rem);
  --text-2xl: clamp(1.5rem, 4vw, 2rem);
  --text-hero: clamp(2rem, calc(5vw + 1rem), 2.8rem);

  /* Line height */
  --leading-tight: 1.1;
  --leading-normal: 1.25;
  --leading-loose: 1.4;

  /* Letter spacing */
  --tracking-tight: -0.02em;
  --tracking-semiwide: 0.05em;
  --tracking-wide: 0.08em;

  /* Measure — max line width */
  --measure: 65ch; /* body text */
  --measure-narrow: 27ch; /* captions */
}
