---
import MushDispLogo from "@components/artwork/MushDispLogo.astro";
import MushDispLogoText from "@components/artwork/MushDispLogoText.astro";
---

<header class="section--colored nav">
  <div class="container">
    <nav class="nav-flex">
      <MushDispLogo />
      <div class="logo-text-container">
        <MushDispLogoText />
        <p class="logo-text-subheading">
          Pychedelic Mushrooms • Peyote • Kratom
        </p>
      </div>
      <ul class="nav-links-flex">
        <li>Our Story</li>
        <li>In The News</li>
        <li>Hours & Contact</li>
        <li>Full Menu</li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .nav {
    padding-block-start: var(--sp-06);
  }

  .nav-flex {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--color-nav);
    padding-inline-start: 5.2rem;
    padding-inline-end: var(--sp-05);
    border-radius: var(--br-03);
    justify-content: space-between;
    box-shadow: var(--card-shadow-neutral-deep);
  }

  .nav-links-flex {
    display: flex;
    color: var(--color-nav-text);
  }

  .nav-links-flex > li {
    font-family: var(--font-display);
    font-size: var(--text-sm);
    letter-spacing: var(--tracking-semiwide);
    padding-inline: var(--sp-04);
    padding-block: var(--sp-05-5);
    border-left: var(--border-surface-color-thin);
    text-shadow: var(--text-shadow-color);
    transition:
      color 200ms ease,
      background-color 200ms ease;
  }

  .nav-links-flex > li:hover {
    color: var(--color-nav-text-hover);
    background-color: var(--color-nav-hover);
    text-shadow: none;
    cursor: pointer;
  }

  .logo-text-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .logo-text-subheading {
    color: var(--color-primary-200);
    font-family: var(--font-body);
    font-size: var(--text-xsm);
    letter-spacing: 0.17em;
    text-transform: uppercase;
    line-height: 1;
    font-variation-settings:
      "wdth" 98,
      "wght" 800;
    text-shadow: var(--text-shadow-color);
  }
</style>
