---
import { Image } from "astro:assets";

import location1 from "@images/locations/mushdisp-location-01.webp";
import location2 from "@images/locations/mushdisp-location-02.avif";
import location3 from "@images/locations/mushdisp-location-03.jpg";
import PhoneIllo from "@components/artwork/PhoneIllo.astro";
import NineteenPlus from "@components/artwork/NineteenPlus.astro";

import LocationCard from "@components/ui/LocationCard.astro";

const locations = [
  {
    cityArea: "West End Vancouver",
    address: "1674 Davie St.",
    storeHours: [
      { days: "Mon-Wed", hours: "11am-7pm" },
      { days: "Thu-Sat", hours: "10am-11pm" },
      { days: "Sun", hours: "11am-6pm" },
    ],
    image: location1,
  },
  {
    cityArea: "East Vancouver",
    address: "651 East Hastings",
    storeHours: [
      { days: "Mon-Thu", hours: "10am-10pm" },
      { days: "Fri-Sat", hours: "10am-11pm" },
      { days: "Sun", hours: "11am-6pm" },
    ],
    image: location2,
  },
  {
    cityArea: "Mount Pleasant",
    address: "247 West Broadway",
    storeHours: [
      { days: "Mon-Wed", hours: "11am-7pm" },
      { days: "Thu-Sat", hours: "10am-10pm" },
      { days: "Sun", hours: "11am-6pm" },
    ],
    image: location3,
  },
];
---

<section class="section section--dark">
  <div class="container">
    <div class="contact-container">
      <div class="locations-header-container">
        <div class="locations-header">
          <div class="header-text-container">
            <h2 class="subtitle --bignumber">3</h2>
            <h2 class="subtitle --locations">Locations!</h2>
            <p class="text-body-display">
              We have three storefronts in Vancouver, BC, Canada
            </p>
          </div>
          <div class="illo-container">
            <PhoneIllo />
          </div>
          <div class="bottom-text-container">
            <p class="text-body-display">
              Phone number for<br />all locations:
            </p>
            <p class="subtitle --phonenumber">604-343-4687</p>
          </div>
        </div>
        <div class="container-adultsonly">
          <h2 class="subtitle --adultsonly">Adults Only</h2>
          <p class="text-body-display">
            Minors cannot enter unless accompanied by a parent. Minors cannot
            make any purchases.
          </p>
          <div class="art-container">
            <NineteenPlus />
          </div>
        </div>
      </div>

      <div class="locations-card">
        {
          locations.map((location) => (
            <LocationCard
              cityArea={location.cityArea}
              address={location.address}
              storeHours={location.storeHours}
              image={location.image}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "sidebar cards";
    gap: var(--sp-05);
  }
  .locations-header {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sp-06);
  }
  .locations-card {
    grid-area: cards;
    display: flex;
    flex-direction: column;
    gap: var(--sp-04);
  }
  .locations-header {
    border: var(--border-surface-dark-thin);
    border-radius: var(--br-03);
    background-color: var(--color-neutral-600-50);

    position: relative;
    padding-block-start: var(--sp-09);
    padding-block-end: var(--sp-06);
    text-align: center;
  }
  /* .phone-container {
    position: relative;
    padding-block-start: var(--sp-09);
    padding-block-end: var(--sp-06);
    text-align: center;
  } */
  .--bignumber {
    font-size: 10rem;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    text-box: trim-both cap alphabetic;
  }
  .--locations {
    font-size: clamp(2rem, calc(5vw + 1rem), 3rem);
    text-transform: uppercase;
  }
  .--phonenumber {
    font-size: clamp(2rem, calc(5vw + 1rem), 3rem);
    text-transform: uppercase;
  }

  .container-adultsonly {
    padding-block: var(--sp-07);
    padding-inline: var(--sp-07);
    position: relative;
  }

  .--adultsonly {
    text-align: start;
  }
  .art-container {
    position: absolute;
    top: 48px;
    right: 24px;
  }
</style>
