---

---

<div class="icon">
  <svg
    width="394"
    height="24"
    viewBox="0 0 394 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M201.275 1.13418C206.318 1.23022 214.961 0.6958 214.961 12.4555C214.961 22.6506 209.301 23.9955 203.375 23.9955C199.887 23.9955 194.256 23.3644 194.06 23.433C194.087 23.4894 193.584 18.3416 193.794 18.1772H193.78C193.989 18.0267 196.439 17.8628 196.455 17.8617L196.833 7.00723C196.797 7.01029 194.238 7.22604 194.159 7.22696C194.089 7.22696 193.136 2.06921 193.373 1.91641C193.612 1.76547 196.722 1.01068 201.275 1.13418ZM208.04 12.7162C208.04 6.36287 204.412 7.02143 202.997 7.14492C202.829 9.84834 202.521 16.4478 202.759 18.2182C205.505 18.5338 208.04 17.6146 208.04 12.7162Z"
      fill="#F7F9FC"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M145.113 0.72305C151.487 0.72305 156.124 4.83922 156.124 12.1117C156.124 18.0808 152.804 23.8441 145.141 23.8441C140.144 23.8441 136.202 21.9818 134.459 17.6967C132.926 21.2281 129.738 23.8441 124.577 23.8441C117.768 23.8441 112.921 20.3863 112.921 12.057C112.921 3.72782 118.175 0.736722 124.549 0.736722V0.72305C129.083 0.723199 132.736 2.80699 134.468 6.62735C136.277 2.38148 140.387 0.73683 145.113 0.736722V0.72305ZM124.479 6.58242C121.089 6.58242 119.94 8.997 119.94 12.3725C119.94 16.05 122.378 17.56 124.521 17.56C126.664 17.5599 128.485 16.2695 128.485 12.3451L128.471 12.3314C128.471 9.0932 127.322 6.58256 124.479 6.58242ZM145.057 6.58242C141.667 6.58247 140.518 8.99703 140.518 12.3725C140.518 16.0499 142.956 17.5599 145.099 17.56C147.242 17.56 149.064 16.2696 149.064 12.3451L149.049 12.3314C149.049 9.09311 147.901 6.58242 145.057 6.58242Z"
      fill="#F7F9FC"></path>
    <path
      d="M61.4115 0.00918251C61.4582 0.00758061 64.9521 -0.109878 66.5941 0.544339C66.7622 0.612949 66.1879 6.67837 66.1879 7.68008C66.1847 8.14591 60.9132 8.11878 60.9066 7.99551C60.7385 6.17058 59.59 5.48388 58.5394 5.48379C57.923 5.48379 56.6762 5.77227 56.6761 7.0209C56.6761 8.15982 59.2116 8.84595 61.7191 10.2318C64.731 11.8648 67.2806 13.539 67.2806 17.4086C67.2806 20.9626 63.9607 23.638 60.5707 23.6381C57.1805 23.6381 55.8211 22.4174 55.3168 21.8822C55.2467 22.5684 55.1768 23.8305 55.1488 23.8305C54.9752 23.7617 50.0355 23.5424 50.0355 23.5424C49.9655 22.8558 49.9662 17.1889 49.9662 15.5561V15.5424C52.2775 15.0759 54.603 14.9795 55.2894 15.0756C55.9058 17.2162 57.2928 18.3422 58.3714 18.3422C59.3519 18.3421 60.2347 17.8338 60.2347 16.9008C60.2346 15.1033 58.0628 14.5403 56.0316 13.4975C53.0198 12.0155 50.1058 10.4103 50.1058 5.92324C50.1058 2.80837 52.8796 0.256326 57.4183 0.256253C59.3795 0.256253 60.5988 0.941654 61.1732 1.51797L61.4115 0.00918251Z"
      fill="#F7F9FC"></path>
    <path
      d="M240.807 0.00918251C240.807 0.00918251 244.338 -0.114295 245.991 0.544339C246.159 0.612949 245.584 6.67837 245.584 7.68008C245.581 8.14591 240.31 8.11878 240.303 7.99551C240.135 6.17059 238.987 5.48388 237.936 5.48379C237.32 5.48379 236.073 5.77227 236.073 7.0209C236.073 8.15982 238.608 8.84595 241.116 10.2318C244.127 11.8648 246.677 13.539 246.677 17.4086C246.677 20.9626 243.357 23.638 239.967 23.6381C236.577 23.6381 235.218 22.4174 234.713 21.8822C234.643 22.5684 234.573 23.8305 234.545 23.8305C234.372 23.7617 229.432 23.5424 229.432 23.5424C229.362 22.8559 229.363 17.1889 229.363 15.5561V15.5424C231.674 15.0759 234 14.9795 234.686 15.0756C235.302 17.2162 236.689 18.3422 237.768 18.3422C238.748 18.3421 239.631 17.8338 239.631 16.9008C239.631 15.1033 237.459 14.5403 235.428 13.4975C232.416 12.0155 229.502 10.4103 229.502 5.92324C229.502 2.80836 232.276 0.25631 236.815 0.256253C238.776 0.256253 239.995 0.941654 240.57 1.51797L240.807 0.00918251Z"
      fill="#F7F9FC"></path>
    <path
      d="M322.268 0.00918251C322.268 0.00918251 325.798 -0.114295 327.452 0.544339C327.62 0.612949 327.045 6.67837 327.045 7.68008C327.042 8.14591 321.771 8.11878 321.764 7.99551C321.596 6.17059 320.447 5.48388 319.397 5.48379C318.78 5.48379 317.534 5.77227 317.534 7.0209C317.534 8.15982 320.069 8.84595 322.577 10.2318C325.588 11.8648 328.138 13.539 328.138 17.4086C328.138 20.9626 324.818 23.638 321.428 23.6381C318.038 23.6381 316.678 22.4174 316.174 21.8822C316.104 22.5684 316.034 23.8305 316.006 23.8305C315.833 23.7617 310.893 23.5424 310.893 23.5424C310.823 22.8559 310.824 17.1889 310.824 15.5561V15.5424C313.135 15.0759 315.46 14.9795 316.147 15.0756C316.763 17.2162 318.15 18.3422 319.229 18.3422C320.209 18.3421 321.092 17.8338 321.092 16.9008C321.092 15.1033 318.92 14.5403 316.889 13.4975C313.877 12.0155 310.963 10.4103 310.963 5.92324C310.963 2.80837 313.737 0.256326 318.276 0.256253C320.237 0.256253 321.456 0.941654 322.031 1.51797L322.268 0.00918251Z"
      fill="#F7F9FC"></path>
    <path
      d="M298.846 1.28555C299.093 1.21706 309.629 1.13452 309.661 1.21621C309.661 1.2985 309.926 5.49249 309.731 5.49746C309.535 5.49746 307.443 5.68913 307.433 5.74453C307.433 5.79942 307.937 23.4877 307.769 23.4877C307.594 23.4882 302.656 23.8583 302.488 23.6801C302.32 23.4883 295.324 12.5191 295.301 12.4828C295.301 12.5326 295.302 18.6077 295.469 18.808C295.637 19.0001 297.837 19.028 297.837 19.2475C297.837 19.467 298.341 22.9247 298.103 23.0482C297.862 23.1717 287.412 23.5832 287.498 23.433C287.596 23.2821 287.121 19.5358 287.233 19.4672C287.333 19.3985 289.397 19.1797 289.501 19.1244C289.599 19.0558 289.473 10.507 289.291 6.88418C288.787 6.95263 287.195 6.9116 287.12 6.85684C287.05 6.80195 286.616 1.44996 286.743 1.35391C286.892 1.25833 293.635 1.381 293.76 1.38125C293.872 1.38125 301.956 12.3313 302.096 12.3588C302.235 12.3754 301.958 5.8656 301.955 5.81387C301.933 5.81264 299.217 5.66287 299.182 5.6625C299.154 5.6625 298.608 1.35416 298.846 1.28555Z"
      fill="#F7F9FC"></path>
    <path
      d="M38.8431 1.29922C40.1564 0.888898 48.9587 1.14626 49.013 1.14785C49.013 1.14785 49.223 5.48452 49.223 5.55313C49.2187 5.62253 47.2621 6.08828 47.2621 6.08828C47.2622 6.13308 47.2904 13.926 47.2904 15.309C47.2904 20.4959 44.1103 23.7074 38.0726 23.7074C32.0348 23.7074 28.8265 20.4688 28.8265 14.9662L28.7562 6.19766V6.17032L26.2767 5.82754L26.0668 1.51895C26.0668 1.51895 36.752 1.10742 36.8119 1.20254C36.8399 1.2986 37.1196 5.79985 36.9515 5.8959C36.7827 5.99196 35.1166 6.14297 35.1166 6.14297C35.1166 6.14297 35.2142 14.3202 35.2142 14.9799C35.2142 16.2697 36.027 17.4914 38.1 17.4916C40.1731 17.4916 40.9445 16.4896 40.9447 15.1039C40.9447 13.718 40.9164 5.97793 40.9164 5.97793H38.9134C38.912 5.93073 38.7734 1.32653 38.8431 1.29922Z"
      fill="#F7F9FC"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M335.016 1.25723C336.235 0.818121 341.895 1.44961 341.895 1.44961L348.507 18.7807H350.468V23.4057C350.468 23.4057 341.348 23.8165 340.984 23.6244C340.648 23.402 340.312 19.192 340.508 19.1234C340.72 19.0276 342.231 19.0277 342.231 19.0277L341.321 16.476L336.74 16.4066L336.305 18.4789L338.603 18.767C338.603 18.767 338.981 23.1996 338.869 23.1996L329.048 23.6381C328.691 22.9275 328.602 20.7365 328.579 19.685L328.573 19.1234L330.814 18.6166C332.299 10.8499 335.016 1.25723 335.016 1.25723ZM337.314 12.5512L340.326 12.3998L338.63 8.31094L337.314 12.5512Z"
      fill="#F7F9FC"></path>
    <path
      d="M0.0804282 1.12051C0.249336 0.928439 7.93968 0.997117 8.10777 1.09317C8.27723 1.19142 11.7623 6.46956 11.932 6.76016C12.102 6.46947 15.9939 1.2857 16.2045 1.13418C16.4143 0.983421 24.5481 1.06562 24.5677 1.13418C24.5677 1.20277 24.638 5.68705 24.638 5.95059C24.638 6.21099 22.2063 6.26589 22.1586 6.26602C22.1165 6.26602 22.1302 18.4611 22.2562 18.685C22.3963 18.9045 24.8609 18.7537 24.8617 18.973C24.8617 19.1926 25.2404 23.5972 25.1283 23.5697C25.0262 23.5423 13.7386 23.6659 13.7386 23.2543C13.7386 22.8419 13.6411 18.9762 13.8089 18.9457C13.9768 18.9183 16.0734 18.9456 16.0785 18.85L16.1488 10.0814C16.1364 10.0988 13.7853 13.382 13.7113 13.3881C13.6413 13.3881 10.7007 13.7036 10.5873 13.6078C10.4894 13.5119 8.15727 10.0927 8.10777 10.0814C8.06575 10.0814 8.34605 18.3561 8.34605 18.5482C8.35005 18.74 10.7552 18.795 10.7552 18.891C10.7556 18.9926 11.0632 23.392 10.9652 23.392C10.8553 23.3918 0.290389 23.2406 0.290389 23.2406C0.272712 23.1461 -0.137899 18.834 0.12242 18.7123L0.150741 18.6576C0.417302 18.5342 2.51793 18.6296 2.51793 18.5336C2.51774 18.4061 2.44825 6.65031 2.42027 6.43106C2.39205 6.21167 0.698204 6.45861 0.34703 6.28067C0.0108192 6.08856 -0.0876771 1.31262 0.0804282 1.12051Z"
      fill="#F7F9FC"></path>
    <path
      d="M156.124 1.12051C156.299 0.928837 163.975 0.997234 164.151 1.09317C164.319 1.18917 167.804 6.46714 167.975 6.76016C168.143 6.47178 172.038 1.28512 172.248 1.13418C172.466 0.983635 180.6 1.06563 180.612 1.13418C180.612 1.20277 180.681 5.68705 180.681 5.95059C180.681 6.21131 178.244 6.26602 178.202 6.26602C178.16 6.28474 178.174 18.4656 178.3 18.685C178.441 18.9043 180.905 18.7537 180.906 18.973C180.906 19.1926 181.283 23.5972 181.171 23.5697C181.042 23.5427 169.783 23.6654 169.783 23.2543C169.783 22.8418 169.685 18.9731 169.853 18.9457C170.023 18.9184 172.118 18.9456 172.122 18.85L172.192 10.0814C172.166 10.1181 169.824 13.3881 169.754 13.3881C169.677 13.3889 166.742 13.7037 166.63 13.6078C166.53 13.5079 164.193 10.0814 164.151 10.0814C164.111 10.1276 164.389 18.3567 164.389 18.5482C164.393 18.74 166.799 18.795 166.799 18.891C166.8 18.9925 167.106 23.3836 167.009 23.392C166.911 23.392 156.385 23.2414 156.334 23.2406C156.334 23.3367 155.9 18.8358 156.166 18.7123L156.194 18.6576C156.46 18.5341 158.562 18.6297 158.562 18.5336C158.562 18.4062 158.491 6.65031 158.463 6.43106C158.435 6.2117 156.74 6.45897 156.39 6.28067C156.054 6.08856 155.956 1.31262 156.124 1.12051Z"
      fill="#F7F9FC"></path>
    <path
      d="M284.739 0.928128C285.551 1.9024 284.977 8.18754 284.977 8.2836C284.973 8.37954 280.342 8.4067 280.102 8.3793C279.864 8.35186 279.724 6.115 279.696 6.01895C279.661 5.92316 275.949 5.8687 275.829 5.95059C275.731 6.0466 275.801 9.52924 275.899 9.57364C275.997 9.61474 279.377 9.66926 279.387 9.76504C279.387 9.8611 279.653 14.0745 279.555 14.102C279.449 14.1296 275.829 14.2531 275.759 14.349C275.689 14.4495 275.689 18.3406 275.689 18.4652C275.689 18.5887 279.793 18.3962 279.793 18.3139C279.797 18.2205 280.746 15.0487 280.746 14.9799C280.746 14.9113 286.263 15.4461 286.266 15.5424C286.266 15.6384 285.649 23.4739 285.593 23.5014C285.519 23.5287 267.153 23.2818 266.99 23.3773C266.85 23.4734 266.962 18.8779 267.158 18.685H267.144C267.353 18.4946 269.212 18.5329 269.245 18.5336C269.246 18.463 269.552 5.94799 269.413 5.85489C269.274 5.78679 267.176 6.04241 267.144 6.04629C267.138 5.99398 266.64 1.29942 266.709 1.07949C266.779 0.859941 284.739 0.928128 284.739 0.928128Z"
      fill="#F7F9FC"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M93.099 1.20254C93.2534 1.07989 100.287 1.29921 102.218 1.29922C105.51 1.29922 112.038 1.36811 112.038 7.09024C112.038 11.5222 108.746 13.0316 108.746 13.0316L112.038 19.2611C112.038 19.2611 114.037 19.1929 114.041 19.2611C114.041 19.3297 114.307 23.1862 114.209 23.3783C114.095 23.5699 104.012 23.5285 103.942 23.2543C103.872 22.9793 103.801 19.3617 104.011 19.3578C104.221 19.3578 105.566 19.33 105.567 19.1654C105.567 19.0008 103.325 14.4447 103.227 14.4447C103.129 14.4448 100.754 14.6911 100.65 14.6918C100.552 14.6918 100.481 19.1518 100.747 19.1518C101.013 19.1518 102.198 19.2471 102.204 19.2748C102.204 19.3022 102.302 23.167 102.204 23.268C102.107 23.3639 93.1727 23.1727 93.1547 23.1723C93.1541 23.2647 92.4126 19.0551 92.9867 19.0551L93.0004 19.0688C93.5747 19.0688 95.1722 18.9454 95.1722 18.7533V6.14297C95.1722 6.14297 93.0011 6.21178 92.9301 6.04727C92.86 5.89633 92.9589 1.32604 93.099 1.20254ZM105.09 7.55606C105.09 5.66541 100.801 6.16891 100.789 6.17032C100.789 6.17032 100.762 9.89239 100.761 9.9711C100.971 9.87504 105.104 10.4377 105.104 7.55606H105.09Z"
      fill="#F7F9FC"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M351.547 1.20254C351.702 1.0799 358.735 1.29921 360.666 1.29922C363.958 1.29922 370.487 1.36811 370.487 7.09024C370.486 11.518 367.201 13.0288 367.195 13.0316L370.487 19.2611C370.49 19.261 372.485 19.193 372.49 19.2611C372.49 19.3297 372.756 23.1862 372.658 23.3783C372.544 23.5699 362.46 23.5285 362.39 23.2543C362.32 22.9794 362.25 19.3614 362.459 19.3578C362.669 19.3578 364.014 19.33 364.015 19.1654C364.015 19.0008 361.773 14.4449 361.675 14.4447C361.577 14.4447 359.203 14.691 359.098 14.6918C359 14.6918 358.93 19.1518 359.196 19.1518C359.461 19.1518 360.646 19.2471 360.653 19.2748C360.653 19.3022 360.75 23.1669 360.653 23.268C360.555 23.3639 351.629 23.1728 351.603 23.1723C351.602 23.2647 350.861 19.0551 351.435 19.0551L351.449 19.0688C352.023 19.0688 353.62 18.9454 353.62 18.7533V6.14297C353.62 6.14297 351.449 6.21177 351.378 6.04727C351.308 5.89633 351.407 1.32604 351.547 1.20254ZM363.538 7.55606C363.538 5.66585 359.252 6.16868 359.238 6.17032C359.238 6.17032 359.21 9.89239 359.209 9.9711C359.419 9.87504 363.552 10.4377 363.552 7.55606H363.538Z"
      fill="#F7F9FC"></path>
    <path
      d="M383.529 1.1752C383.596 1.14849 392.568 1.27176 392.816 1.36758C393.054 1.4635 393.292 5.56885 393.223 5.64883C393.153 5.71744 391.261 5.74551 391.149 5.74551C391.022 5.76476 385.419 12.8529 385.419 12.8529C385.419 12.8529 385.518 18.4214 385.518 18.7397C385.518 19.0553 387.409 18.8083 387.591 18.9867C387.759 19.1789 387.689 23.0761 387.689 23.1996C387.687 23.323 377.199 23.5148 377.113 23.4877C377.043 23.4603 376.945 19.1935 377.014 19.1518H377.029C377.057 19.1491 379.319 18.932 379.326 18.8363V12.7709C379.326 12.62 374.24 6.38984 374.17 6.44473C374.098 6.51292 371.567 6.15696 371.565 6.1293C371.565 6.1019 371.593 1.32675 371.593 1.21719L381.553 1.36758C381.553 1.36758 381.987 5.58012 381.931 5.67617C381.875 5.77223 380.334 5.74551 380.306 5.74551C380.314 5.78266 382.646 8.22891 382.646 8.22891C382.646 8.22891 384.985 5.64908 384.887 5.58047C384.788 5.51199 383.698 5.55309 383.529 5.55313C383.361 5.55313 383.501 1.21636 383.529 1.1752Z"
      fill="#F7F9FC"></path>
    <path
      d="M80.099 1.42227C83.481 0.477969 91.2114 1.51385 91.2494 1.51895C91.2483 1.56767 91.1511 5.82754 91.0814 5.82754C91.0098 5.82779 88.5736 6.19766 88.5736 6.19766L89.0082 18.6166L91.348 18.8637V23.3637C91.348 23.3637 80.8746 23.4872 80.8412 23.433C80.8412 23.3784 80.7437 18.8889 80.7426 18.8363L83.1107 18.6166L83.0121 14.4584L76.1342 14.266C76.1342 14.266 76.0642 18.8573 76.2318 18.8637C76.3999 18.8637 78.5013 18.7398 78.5013 18.9594C78.5014 19.1792 78.9779 23.1029 78.8099 23.1723C78.6418 23.2409 68.611 23.5149 68.2328 23.0209C67.8549 22.5259 68.0234 19.3163 68.1634 19.1791V19.2201C68.3051 19.0966 70.601 18.9047 70.601 18.9047L70.1244 5.90957C70.1244 5.90957 68.1662 5.97805 67.9955 5.81387C67.8274 5.66293 68.1351 1.21621 68.1351 1.21621L77.9271 1.36758L78.1654 5.82754L75.7982 6.04727L75.9662 9.50528L82.5082 9.79336L82.4379 5.92324C82.4143 5.92094 80.4803 5.73122 80.4349 5.73086C80.3929 5.73086 80.0009 3.31592 80.099 1.42227Z"
      fill="#F7F9FC"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M256.399 1.14785C261.246 1.14785 266.051 2.19132 265.981 8.18789C265.911 14.6918 259.817 15.2953 256.525 15.2953C256.497 17.1194 256.553 18.409 256.553 18.4652C256.553 18.5201 259.733 19.0003 259.845 19.0004C259.957 19.0004 260.083 23.1401 259.915 23.3363C259.747 23.5284 248.736 23.268 248.736 23.268C248.703 23.2349 247.995 18.9586 248.358 18.767L248.371 18.7807C248.75 18.5886 250.74 18.6303 250.74 18.6303C250.74 18.6303 250.432 6.45007 250.333 6.39004C250.235 6.3626 248.036 6.4584 248.036 6.4584C248.034 6.43508 247.658 1.36767 247.896 1.29922C248.136 1.23062 253.626 1.14786 256.399 1.14785ZM260.154 8.18789C260.154 6.00102 256.456 6.48191 256.427 6.48574L256.567 10.3832C256.567 10.3832 260.153 10.5751 260.154 8.18789Z"
      fill="#F7F9FC"></path>
    <path
      d="M227.204 5.52578L224.151 6.06094L224.585 18.767C224.754 18.767 227.526 18.7673 227.527 18.9867C227.527 19.2063 227.765 23.131 227.597 23.1996C227.423 23.2683 216.278 23.5421 215.913 23.0482C215.55 22.5528 215.704 19.1512 215.844 19.0277C215.987 18.9046 218.282 18.932 218.282 18.932L217.805 5.90957C217.805 5.90957 215.847 5.97807 215.676 5.81387C215.508 5.66293 215.816 1.21621 215.816 1.21621L226.967 1.06582L227.204 5.52578Z"
      fill="#F7F9FC"></path>
  </svg>
</div>

<style>
  .icon {
  }

  .icon svg {
    width: 100%;
    height: auto;
  }
</style>
