---

---

<div class="icon">
  <svg width="152" height="152" viewBox="0 0 152 152" fill="none">
    <path
      d="M64.8193 13.5928C70.951 7.31517 81.049 7.31517 87.1807 13.5928C91.4554 17.9691 97.6061 19.9683 103.637 18.9404C112.287 17.4659 120.456 23.4004 121.727 32.083C122.612 38.1362 126.414 43.3689 131.897 46.082C139.763 49.9737 142.883 59.5772 138.808 67.3486C135.966 72.7664 135.966 79.2336 138.808 84.6514C142.883 92.4228 139.763 102.026 131.897 105.918C126.414 108.631 122.612 113.864 121.727 119.917C120.456 128.6 112.287 134.534 103.637 133.06C97.6061 132.032 91.4554 134.031 87.1807 138.407C81.049 144.685 70.951 144.685 64.8193 138.407C60.5446 134.031 54.3939 132.032 48.3633 133.06C39.7129 134.534 31.5443 128.6 30.2734 119.917C29.3875 113.864 25.5857 108.631 20.1025 105.918C12.2374 102.026 9.11682 92.4228 13.1924 84.6514C16.0335 79.2336 16.0335 72.7664 13.1924 67.3486C9.11682 59.5772 12.2374 49.9737 20.1025 46.082C25.5857 43.3689 29.3875 38.1362 30.2734 32.083C31.5443 23.4004 39.7129 17.4659 48.3633 18.9404C54.3939 19.9683 60.5446 17.9691 64.8193 13.5928Z"
      fill="var(--art-dark)"
      stroke="var(--art-light)"
      stroke-width="3"></path>
    <path
      d="M96.374 38.5969C97.4092 39.1525 98.4151 39.7491 99.3918 40.3865"
      stroke="var(--art-light)"
      stroke-width="2.15394"
      stroke-miterlimit="10"></path>
    <path
      d="M105.105 44.8196C115.135 54.0483 120.65 67.8622 118.697 82.3954C115.521 106.058 93.7713 122.661 70.1087 119.492C48.8499 116.638 33.2815 98.7884 32.644 78.0267"
      stroke="var(--art-light)"
      stroke-width="2.15394"
      stroke-miterlimit="10"
      stroke-dasharray="6.67 6.67"></path>
    <path
      d="M32.6909 74.4009C32.7553 73.2429 32.8605 72.0732 33.0184 70.9036"
      stroke="var(--art-light)"
      stroke-width="2.15394"
      stroke-miterlimit="10"></path>
    <path
      d="M38.2005 68.4093C37.776 68.4605 36.3765 68.002 36.3765 68.002L36.4456 67.1275C33.5905 65.594 30.1681 63.3853 30.1681 63.3853C30.1411 62.8871 31.0582 60.9175 31.0582 60.9175L38.6063 60.7397L38.8396 60.0277L40.6441 60.6189C40.6441 60.6189 39.7218 63.9734 39.6039 64.0843C39.4778 64.1789 37.7926 63.7627 37.7922 63.681C37.7795 63.5953 37.9605 63.0429 37.9605 63.0429L36.8576 63.0486L36.2901 64.6977L37.048 65.1227L37.432 64.3242C37.432 64.3242 39.2071 64.7562 39.195 64.7931L38.2005 68.4093ZM34.8486 63.9944L35.1451 62.8817L33.3482 62.9727L34.8486 63.9944Z"
      fill="var(--art-light)"></path>
    <path
      d="M41.0956 60.073C40.9144 59.9995 39.2529 59.0538 38.9274 58.8685C39.1251 58.3122 39.5581 57.5776 39.6636 57.4445C40.1669 57.5526 40.5704 57.366 40.7046 57.1303C40.8324 56.9058 40.84 56.6574 40.6491 56.5488C40.2899 56.3443 39.9028 56.7631 39.4451 57.0971C38.7698 57.6046 37.9023 58.1363 36.7348 57.4717C35.949 57.0244 35.5785 55.8474 36.3262 54.5339C36.6521 53.9614 37.0298 53.7156 37.2716 53.6303L36.917 53.3393C36.917 53.3393 37.5224 52.1975 37.9655 51.8106C38.0136 51.7785 39.6978 52.9453 39.8999 53.0603C39.9897 53.1115 39.002 54.5856 38.9683 54.5664C38.5899 54.3956 38.2762 54.6332 38.142 54.869C38.0654 55.0037 37.9776 55.2362 38.2246 55.3767C38.4491 55.5046 38.9754 54.9717 39.5579 54.575C40.2557 54.0804 41.311 53.7149 42.3101 54.2837C43.2194 54.8013 43.4234 56.0619 42.861 57.0498C42.2859 58.0602 41.8776 58.2291 41.6598 58.2983C41.8267 58.423 42.0945 58.6053 42.0881 58.6165C42.0514 58.655 41.0956 60.073 41.0956 60.073Z"
      fill="var(--art-light)"></path>
    <path
      d="M46.9543 51.0642C46.7401 50.8758 45.1404 49.1883 44.6783 48.7008C45.1825 47.9559 45.8027 47.3145 46.0168 47.1649C46.7899 47.6425 47.4942 47.6156 47.7942 47.3312C48.066 47.0735 48.1676 46.6924 47.901 46.4112C47.3944 45.8768 46.6345 46.2768 45.7787 46.5007C44.5267 46.851 43.2672 47.1372 41.9964 45.7966C41.1165 44.8685 41.1654 43.3804 42.4216 42.1895C42.9654 41.6741 43.4984 41.5604 43.8177 41.5781L43.4568 41.0659C43.4568 41.0659 44.3962 40.1041 45.0422 39.8655C45.1068 39.8399 46.6627 41.8003 46.947 42.1003C47.0803 42.2409 45.609 43.6179 45.5734 43.5804C45.0111 43.0811 44.4969 43.177 44.2063 43.4525C44.0375 43.6124 43.7706 44.0256 44.1261 44.4006C44.446 44.7381 45.3447 44.2778 46.4294 44.0327C47.7259 43.7292 48.9 43.5596 49.9931 44.7127C50.9973 45.772 50.834 47.4398 49.8965 48.3285C48.9309 49.2439 48.2375 49.2071 47.9458 49.181C48.1225 49.405 48.4593 49.7978 48.4499 49.8067C48.3852 49.8323 46.9543 51.0642 46.9543 51.0642Z"
      fill="var(--art-light)"></path>
    <path
      d="M50.15 43.2806C48.8689 41.3094 49.6764 39.6599 51.1278 38.7167C52.4383 37.8649 54.2032 38.3048 54.5384 38.7494L54.9639 40.0442L53.6197 42.5509C53.891 42.6365 54.9703 41.9504 55.6635 41.4999C56.1064 42.2288 56.5585 43.3986 56.5585 43.3986C53.9195 45.4064 51.4241 45.2411 50.15 43.2806ZM51.9621 41.8257L52.7555 40.1545C52.6418 40.0744 52.3234 40.0348 52.1068 40.1756C51.3486 40.6684 51.4715 41.4975 51.9621 41.8257Z"
      fill="var(--art-light)"></path>
    <path
      d="M56.2306 39.4052C55.3131 37.2406 56.3961 35.7574 57.9898 35.0819C59.4289 34.4719 61.0899 35.213 61.3424 35.7093L61.5354 37.0585L59.7744 39.2921C60.0266 39.4237 61.2091 38.9366 61.9702 38.6139C62.2792 39.409 62.5202 40.6397 62.5202 40.6397C59.5713 42.1562 57.143 41.5579 56.2306 39.4052ZM58.2688 38.2888L59.3417 36.7818C59.2437 36.683 58.9371 36.5885 58.6992 36.6893C57.8667 37.0422 57.843 37.88 58.2688 38.2888Z"
      fill="var(--art-light)"></path>
    <path
      d="M63.8274 39.924C63.8274 39.924 63.5543 39.1369 63.3949 38.3256L64.218 38.0976L63.5883 35.0752C63.5576 35.0553 62.8635 35.269 62.8382 35.2744C62.8256 35.2771 62.2732 33.6117 62.2598 33.5485C62.2463 33.4853 64.6916 32.6878 64.6916 32.6878L65.2894 33.5115C65.2894 33.5115 65.7013 32.5918 66.7753 32.3634C68.064 32.0892 69.4944 32.4188 70.0535 35.0469L70.393 36.7047L70.9479 36.7055C70.9479 36.7055 71.2997 37.9249 71.2973 38.3481L68.0168 39.0063C68.0168 39.0063 67.6327 37.6353 67.6123 37.4152L68.2072 37.1697L67.9069 35.8205C67.7268 34.974 67.2817 34.6196 66.6752 34.7486C66.1824 34.8535 65.8378 35.4683 65.9991 36.2264L66.3074 37.6135L67.1004 37.6165L67.4482 39.1273C67.3985 39.2039 63.8148 39.9267 63.8274 39.924Z"
      fill="var(--art-light)"></path>
    <path
      d="M76.4125 34.9261C76.6769 32.46 78.2747 31.7349 80.0985 31.9305C81.9224 32.126 83.1145 33.4881 82.8831 35.6459C82.6931 37.4183 81.5608 39.0118 79.3773 38.7777C77.425 38.5684 76.1467 37.405 76.4125 34.9261ZM78.7404 35.2666C78.6578 36.0373 79.1761 36.5346 79.6514 36.5855C80.1523 36.6392 80.5789 36.2952 80.667 35.4732C80.7373 34.8182 80.552 34.1227 79.9227 34.0553C79.1392 33.9712 78.8134 34.5859 78.7404 35.2666Z"
      fill="var(--art-light)"></path>
    <path
      d="M83.0392 38.9032C83.0392 38.9032 83.186 38.0831 83.4437 37.2974L84.2732 37.5012L85.2021 34.5569C85.1851 34.5246 84.4751 34.3715 84.4505 34.3638C84.4381 34.36 84.7708 32.6372 84.79 32.5755C84.8092 32.5139 87.3321 33.0141 87.3321 33.0141L87.4507 34.025C87.4507 34.025 88.2597 33.4243 89.3082 33.7502C90.5664 34.1414 91.6528 35.1285 90.8552 37.6942L90.3405 39.3063L90.824 39.5784C90.824 39.5784 90.5346 40.8141 90.3255 41.182L87.1422 40.1517C87.1422 40.1517 87.4777 38.768 87.5675 38.566L88.2065 38.6429L88.6045 37.3192C88.8614 36.4927 88.6464 35.9659 88.0543 35.7818C87.5732 35.6323 86.9719 36 86.7419 36.7401L86.3323 38.1008L87.0226 38.4912L86.5871 39.9791C86.5062 40.0216 83.0269 38.8994 83.0392 38.9032Z"
      fill="var(--art-light)"></path>
    <path
      d="M61.949 98.9061C61.8762 98.8486 59.5546 93.7087 59.6121 93.6359C59.6695 93.5631 64.068 91.2232 63.8917 90.8478C63.7155 90.4725 56.6658 76.2377 56.6658 76.2377L53.568 77.7379C53.568 77.7379 55.5479 82.4428 55.6184 82.5929C55.6889 82.743 50.2908 85.0026 50.0656 85.1083C49.8404 85.2141 45.2807 75.3072 45.4446 74.6805C45.6084 74.0539 68.395 62.4853 68.5031 62.6178C68.6111 62.7503 73.8894 73.6024 73.94 73.8077C73.9905 74.013 69.0582 76.1913 68.8751 76.0941C68.692 75.9968 66.2019 71.6688 66.2019 71.6688C66.2019 71.6688 63.6296 72.9223 63.4596 73.048C63.2895 73.1736 71.0188 87.685 71.0716 87.7976C71.1245 87.9102 74.8297 85.8499 75.0503 85.9296C75.2709 86.0092 77.7695 90.7455 77.7955 91.1913C77.8216 91.6371 62.0218 98.9635 61.949 98.9061ZM93.7347 83.8453C93.4942 83.8208 76.9697 67.1631 76.9697 67.1631C76.9697 67.1631 74.8394 67.7968 74.5391 67.9378C74.2389 68.0787 71.6973 62.08 71.7724 62.0448C71.7724 62.0448 83.2933 56.7274 83.4611 56.6944C83.6288 56.6615 86.7533 62.3407 86.7533 62.3407C86.7533 62.3407 85.075 63.4493 84.8498 63.555C84.6246 63.6608 91.7203 70.7736 91.7203 70.7736C91.7203 70.7736 90.7297 60.5654 90.6171 60.6182C90.5045 60.6711 88.8507 61.5392 88.738 61.5921C88.6254 61.6449 85.373 55.8884 85.3952 55.7405C85.4174 55.5927 96.9958 50.2025 97.0862 50.2974C97.1766 50.3924 99.9234 56.3405 99.9387 56.4708C99.9541 56.601 97.6269 57.6936 97.4768 57.7641C97.3266 57.8346 100.215 80.5737 100.041 80.8847C99.8659 81.1958 93.9752 83.8698 93.7347 83.8453Z"
      fill="var(--art-light)"></path>
  </svg>
</div>

<style>
  .icon {
    position: absolute;
    right: -22%;
    bottom: 5%;
    transform: rotate(-5deg);
  }

  .icon svg {
    width: 9rem;
    height: auto;
    filter: var(--art-shadow-neutral-medium);
  }
</style>
