---

---

<div class="icon">
  <svg width="56" height="56" viewBox="0 0 60 60" fill="none">
    <circle
      cx="26.25"
      cy="26.25"
      r="24.7194"
      fill="var(--art-light)"
      stroke="var(--art-line)"
      stroke-width="3.06122"></circle>
    <rect
      x="14.2681"
      y="14.6606"
      width="8.57143"
      height="9.64286"
      rx="4.28571"
      fill="var(--art-line)"></rect>
    <rect
      x="30"
      y="14.6606"
      width="8.57143"
      height="9.64286"
      rx="4.28571"
      fill="var(--art-line)"></rect>
    <path
      d="M40.1784 29.125C40.1784 36.6696 34.0623 42.7857 26.5176 42.7857C18.973 42.7857 12.8569 36.6696 12.8569 29.125"
      stroke="var(--art-line)"
      stroke-width="4"
      stroke-linecap="round"></path>
  </svg>
</div>

<style>
  .icon {
    position: absolute;
    right: 5%;
    transform: rotate(-6deg);
    filter: var(--art-shadow-color-shallow);
  }
  .icon svg {
    width: 4rem;
    height: auto;
  }
</style>
